/LoveCollection/bin
/LoveCollection/obj
/LoveCollection/appsettings.json
/LoveCollection/appsettings.Development.json
/.vs
/LoveCollection/logs
/LoveCollection.Application/obj
/LoveCollection.Application/bin
/LoveCollection.Core/bin
/LoveCollection.Core/obj
/LoveCollection.EntityFramework/obj
/LoveCollection.EntityFramework/bin
/Tool/bin
/Tool/obj
