@{
    ViewData["Title"] = "关于 - 爱收藏";
}
<style type="text/css">
    .sketch {
        border: 1px solid #808080;
    }
</style>
<div style="margin-top:30px">
    <div>
        <a href="/爱收藏.crx">下载安装</a>
    </div>
    <div>
        <a href="https://ext.chrome.360.cn/webstore/search/%E7%88%B1%E6%94%B6%E8%97%8F">360极速浏览器收录地址</a>
        <a href="https://ext.se.360.cn/webstore/search/%E7%88%B1%E6%94%B6%E8%97%8F">360安全浏览器收录地址</a>
        <a href="https://chrome.google.com/webstore/detail/%E3%80%90%E7%88%B1%E6%94%B6%E8%97%8F%E3%80%91/eiapenphalkjcggadkpheffmbdcmgile?hl=zh-CN">chrome浏览器收录地址</a>
    </div>
    <div style="margin-top:20px;">
        <span>效果图</span>
        <div>
            <img class="sketch" src="/images/GIF.gif" />
        </div>
    </div>
</div>
